.intro_Set{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.background{
  z-index: 1;
}
.intro_Main{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.background{
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 110vh;
}
.transparency{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.intro_Header{
  display: flex;
  height: 15vh;


}
.intro_logo{
  position: relative;
  color:white;
  font-size: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  left : 16vw;
  top: 6vh;
}
.kommaImg{
  width:6px;
}

.intro_body{
  display: flex;
  position: relative;
  width: 100vw;
  height: 80vh;
}

.description_Main{
  position: absolute;
  font-size: 80px;
  width: 500px;
  color: white;
  top: 150px;
  left : 280px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
}

.intro_Mainbutton{
  position:relative; 
  width: 180px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  color: black;
  background-color:white ;
  border: none;
  top: 90px;
  font-family: 'Noto Sans KR', sans-serif;
  z-index: 999;
}

.macbook{
  position:absolute;
  width: 899px;
  height: 475px;
  left: 537px;
  top:14px;
  z-index: 4;

}
.windowcard{
  position: absolute;
  width: 667.5px;
  bottom:340px;
  left:655px;
  z-index: 3;
}
.window{
  position: absolute;
}

.intro_next{
  position: absolute;
  width: 50px;
  height: 30px;
  bottom: 15vh;
  left: 48.5vw;
  top:77vh;
}

.description_1{
  position: relative;
  color: white;
  top:4vh;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
.blank{
  margin-top: 17px;
}
