.intro_Fn1{
  background-color:  #F0EDCC;

}
.intro_Fn1_logo{
  position: relative;
  color:#02343F;
  font-size: 50px;
  font-family: 'Yusei Magic', sans-serif;
  left : 22vw;
  top: 6vh
}
.Fn1Komma{
  width:6px;
}
.intro_Fn1_botton{
  position:relative; 
  width: 180px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #02343F;
  color:#F0EDCC ;
  border: none; 
  left: 67vw;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

.intro_Fn1_body{
  display: flex;
  height: 80vh;
  overflow: hidden;
}
.bodyKomma{
position: relative;
height: 500px;
left: 20vw;
top:15vh
}

.intro_Fn1_description{
  position: relative;
  font-size: 90px;
  left:36vw;
  top:22vh;
  color:  #02343F;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;

}
.intro_Fn1_description2{
  position: relative;
  color:  #02343F;
  font-size: 20px;
  font-family: 'Gothic A1', sans-serif;
  top: 57vh;
  left: 13vw;
}