.intro_Fn3{
  display: flex;
  height: 71.5vh;


}
.intro_body3-1{
  display: flex;
  position: relative;
  background-color: rgb(17, 16, 16);
  margin-top: 1.55vh;
  height: 70vh;
  width: 49vw;
  margin-right: 0.8vw;
  margin-left: 0.8vw;
}

.intro_body3-2{
  display: flex;
  position: relative;
  background-color: #F1F1F3;
  margin-top: 8.7vh;
  height: 70vh;
  width: 48.7vw;
  overflow: scroll;

}

.intro_describe3{
  position: absolute;
  color:white;
  font-size: 3vw;
  font-family: 'Noto Sans KR', sans-serif;
  left: 17.5vw;
  top:10vh;
}
.intro_describe3-2{
  position: absolute;
  color:white;
  font-size: 1vw;
  top:20vh;
  left: 16.5vw;
  font-family: 'Noto Sans KR', sans-serif;
}

.intro_describe4{
  position: absolute;
  color:black;
  font-size: 3vw;
  font-family: 'Noto Sans KR', sans-serif;
  left: 19vw;
  top:10vh;
}
.intro_describe4-2{
  position: absolute;
  color:black;
  font-size: 1vw;
  top:20vh;
  left: 16.1vw;
  font-family: 'Noto Sans KR', sans-serif;
}

.setting-general1 {
  &-color1 {
  position: absolute;
  top:45vh;
  left:11.5vw;
    & .introColor {
      display: flex;
      @mixin introColor {
        width: 1.5vw;
        height: 2.8vh;
        border-radius: 50%;
        border: 5px solid rgba(32, 32, 32, 0.63);
        margin-right: 1vw;
        cursor: pointer;
        transition: all .55s cubic-bezier(.77,0,.175,1);
        &.selected1 {
          transform: scale(1.2);
          box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.342);
          transition: all .55s cubic-bezier(.77,0,.175,1);
        }
      }
      & .blue1 {
        @include introColor;
        background-color: $blue1;
      }
      & .red1 {
        @include introColor;
        background-color: $red1;
      }
      & .orange1 {
        @include introColor;
        background-color: $orange1;
      }
      & .yellow1 {
        @include introColor;
        background-color: $yellow1;
      }
      & .cyan1 {
        @include introColor;
        background-color: $cyan1;
      }
      & .teal1 {
        @include introColor;
        background-color: $teal1;
      }
      & .violet1 {
        @include introColor;
        background-color: $violet1;
      }
      & .lime1 {
        @include introColor;
        background-color: $lime1;
      }
      & .white1 {
        @include introColor;
        background-color: $white1;
        ;
      }
    }
  }
}

.intro-blue1{
  position: absolute;
  background-color: $blue1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-red1{
  position: absolute;
  background-color: $red1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-orange1{
  position: absolute;
  background-color: $orange1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-yellow1{
  position: absolute;
  background-color: $yellow1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-cyan1{
  position: absolute;
  background-color: $cyan1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-lime1{
  position: absolute;
  background-color: $lime1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-teal1{
  position: absolute;
  background-color: $teal1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-violet1{
  position: absolute;
  background-color: $violet1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-blue1{
  position: absolute;
  background-color: $blue1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}
.intro-white1{
  position: absolute;
  background-color: $white1;
  height: 70vh;
  width: 48.7vw;
  transition: all 3s;
}

.timer-container1 {
  position: absolute;
  width: 11vw;
  height: 6vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(252, 252, 252, 0.411);
  border-radius: 40px;
  top: 43vh;
  left: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time1 {
  width: 5vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: rgb(70, 70, 70);
}

.timer-buttons1 {
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@mixin buttons1 {
  position: absolute;
  top: 0.3vw;
  width: 2.7vw;
  height: 5vh;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.411);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timer-plus1 {
  @include buttons1;
  right:15vw;
  &:active {
    box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
    background-color: darken($color: rgba(252, 252, 252, 0.411), $amount: 5%);
  }
  & img {
    width: 1vw;
  }
}

.timer-minus1 {
  @include buttons1;
  right:11.7vw;
  &:active {
    box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
    background-color: darken($color: rgba(252, 252, 252, 0.411), $amount: 5%);
  }
  & img {
    width: 1vw;
  }
}

.timer-start1 {
  @include buttons1;
  left: 12vw;
  &:active {
    box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
    background-color: darken($color: rgba(252, 252, 252, 0.411), $amount: 5%);
  }
  & img {
    width: 1vw;
    margin-left: 0.2vw;
  }
}

.timer-stop1 {
  @include buttons1;
  left: 12vw;
  &:active {
    box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
  }
  & img {
    width: 1vw;
  }
}







@media all and (max-width:767px) {
  .intro_Fn3{
    display: flex;
    height: 90vh;
    position: relative;
  
  
  }
  .intro_body3-1{
    display: flex;
    position: absolute;
    background-color: gb(17, 16, 16);
    margin-top: 0.3vh;
    height: 45vh;
    width: 95.7vw;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  
  .intro_body3-2{
    display: flex;
    position: relative;
    background-color: #F1F1F3;
    margin-top: 46.8vh;
    height: 45vh;
    width: 95.7vw;
    margin-right: 2vw;
    margin-left: 2vw;
    overflow: hidden;

  
  }
  
  .intro_describe3{
    position: absolute;
    color:white;
    font-size: 7vw;
    font-family: 'Noto Sans KR', sans-serif;
    left: 33vw;
    top:8vh;
  }
  .intro_describe3-2{
    position: absolute;
    color:white;
    font-size: 0.9vw;
    top:15vh;
    left: 28.5vw;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .intro_describe4{
    position: absolute;
    color:black;
    font-size: 7vw;
    font-family: 'Noto Sans KR', sans-serif;
    left: 35vw;
    top:8vh;
  }
  .intro_describe4-2{
    position: absolute;
    color:black;
    font-size: 0.9vw;
    top:15vh;
    left: 25vw;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .setting-general1 {
    &-color1 {
    position: absolute;
    top:32vh;
    left:13vw;
      & .introColor {
        display: flex;
        @mixin introColor {
          width: 4vw;
          height: 2vh;
          border-radius: 50%;
          border: 5px solid rgba(32, 32, 32, 0.63);
          margin-right: 1vw;
          cursor: pointer;
          transition: all .55s cubic-bezier(.77,0,.175,1);
          &.selected1 {
            transform: scale(1.2);
            box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.342);
            transition: all .55s cubic-bezier(.77,0,.175,1);
          }
        }
        & .blue1 {
          @include introColor;
          background-color: $blue1;
        }
        & .red1 {
          @include introColor;
          background-color: $red1;
        }
        & .orange1 {
          @include introColor;
          background-color: $orange1;
        }
        & .yellow1 {
          @include introColor;
          background-color: $yellow1;
        }
        & .cyan1 {
          @include introColor;
          background-color: $cyan1;
        }
        & .teal1 {
          @include introColor;
          background-color: $teal1;
        }
        & .violet1 {
          @include introColor;
          background-color: $violet1;
        }
        & .lime1 {
          @include introColor;
          background-color: $lime1;
        }
        & .white1 {
          @include introColor;
          background-color: $white1;
          ;
        }
      }
    }
  }
  
  .intro-blue1{
    position: absolute;
    background-color: $blue1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-red1{
    position: absolute;
    background-color: $red1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-orange1{
    position: absolute;
    background-color: $orange1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-yellow1{
    position: absolute;
    background-color: $yellow1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-cyan1{
    position: absolute;
    background-color: $cyan1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-lime1{
    position: absolute;
    background-color: $lime1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-teal1{
    position: absolute;
    background-color: $teal1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-violet1{
    position: absolute;
    background-color: $violet1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-blue1{
    position: absolute;
    background-color: $blue1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  .intro-white1{
    position: absolute;
    background-color: $white1;
    height: 70vh;
    width: 100vw;
    transition: all 3s;
  }
  
  .timer-container1 {
    position: absolute;
    width: 23vw;
    height: 4vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 0.411);
    border-radius: 40px;
    top: 30vh;
    left: 37vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time1 {
    width: 20vw;
    height: 5vh;
    left:1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:4vw;
    color: rgb(70, 70, 70);
  }
  
  .timer-buttons1 {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  @mixin buttons1 {
    position: absolute;
    top: 0.3vw;
    width: 7vw;
    height: 4vh;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.411);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .timer-plus1 {
    @include buttons1;
    right:33vw;
    &:active {
      box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
      background-color: darken($color: rgba(252, 252, 252, 0.411), $amount: 5%);
    }
    & img {
      width: 4vw;
    }
  }
  
  .timer-minus1 {
    @include buttons1;
    right:25vw;
    &:active {
      box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
      background-color: darken($color: rgba(252, 252, 252, 0.411), $amount: 5%);
    }
    & img {
      width: 4vw;
    }
  }
  
  .timer-start1 {
    @include buttons1;
    left: 25vw;
    &:active {
      box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
      background-color: darken($color: rgba(252, 252, 252, 0.411), $amount: 5%);
    }
    & img {
      width: 3vw;
      margin-left: 0.2vw;
    }
  }
  
  .timer-stop1 {
    @include buttons1;
    left: 25vw;
    &:active {
      box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.075);
    }
    & img {
      width: 3vw;
    }
  }
  
  
  

}