.intro_Fn2{
  display: flex;
  height: 71.5vh;
  

}
.intro_body2-1{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #d21111;
  margin-top: 1.5vh;
  height: 70vh;
  width: 49vw;
  margin-right: 0.8vw;
  margin-left: 0.8vw;
  overflow: hidden;
}
.intro_body2-2{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #1363be;
  overflow: scroll;
  margin-top: 8.7vh;
  height: 70vh;
  width: 48.7vw;

}

.fav-icons2{
  position: absolute;
  left:7.5vw;
  top:40vh;
}
@mixin iconNav {
  position: absolute;
  display: block;
  background-color: rgba(114, 114, 114, 0.192);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  margin-top: 1vh;
}
@mixin iconNav2 {
  position: absolute;
  background-color: rgba(114, 114, 114, 0.192);
  display: flex;
  width: 5vw;
  height: 3vh;
  top:1vh;
  border-radius: 40%;
  justify-content: center;
  align-items: center;

}

.fav-icons-desc2{
  @include iconNav2;
  color: white;
  font-size: 0.8vw;
}
.fav-icons-add2{
  @include iconNav;
  width: 1.4vw;
  height: 2.5vh;
  left: 29vw;
  cursor: pointer;
  transition: all 0.5s;
  & img {
    width: auto;
    height: 60%;
  }
  &:hover {
    background-color: rgba(114, 114, 114, 0.418);
  }
}
.fav-icons-delete2{
  @include iconNav;
  width: 1.4vw;
  height: 2.5vh;
  left: 31.5vw;
  cursor: pointer;
  transition: all 0.5s;
  & img {
    width: auto;
    height: 70%;
  }
  &:hover {
    background-color: rgba(114, 114, 114, 0.418);
  }
}
.fav-cards2{
  position: absolute;
  top:45vh;
  width: 35vw;
  height: 10vh;
}

.fav-single2{
  
  width:8vw;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 20px;
  margin-left:0.5vw;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &:hover {
    width: 9.5vw;
    height: 10.2vh;
    background-color: rgba(255, 255, 255, 0.438);
    box-shadow: 2px 4px 7px 2px rgba(95, 95, 95, 0.11);
  }
}

.fav-img2{
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: auto;
    height: 5vh;
  }
}
.fav-desc2{
  color: white;
  font-size: 0.8vw;
}
.intro_describe1{
  position: absolute;
  color:white;
  font-size: 3vw;
  font-family: 'Noto Sans KR', sans-serif;
  top:10vh;
}
.intro_describe1-2{
  position: absolute;
  color:white;
  font-size: 1vw;
  top:20vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.intro_describe2{
  position: absolute;
  color:black;
  font-size: 3vw;
  font-family: 'Noto Sans KR', sans-serif;
  top:10vh;
}
.intro_describe2-2{
  position: absolute;
  color:black;
  font-size: 1vw;
  top:20vh;
  font-family: 'Noto Sans KR', sans-serif;
}

@mixin on-circle1($item-count, $circle-size, $item-size) {
  
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%; 
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2)
          rotate(86deg) 
      }
      $rot: $rot + $angle;
    }
  }
}

.sound-list1 {
  position: absolute;
  @include on-circle1($item-count: 20, $circle-size: 50vw, $item-size: 8vw);
  background-color: rgba(255, 99, 71, 0.001);
  border-radius: 50%;
  right: 0.2vw;
  top: 45vh;
  transition: transform 0.1s;
  z-index: 2;
}

.sound-card1{
  background-color: rgba(255, 255, 255, 0);
  height: 150vh;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  & img {
    width: 50vw;
  }
  & p {
    margin-top: 20vh;
  }
}

.sound-card-title{
  margin-left:0.3vw;
  font-size: 1vw;
  font-family: 'Noto Sans KR', sans-serif;
}










@media all and (max-width:767px) {
  .intro_Fn2{
    display: flex;
    height: 100vh;
    position: relative;
  
  }
  .intro_body2-1{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #d21111;
    margin-top: 7.9vh;
    height: 45vh;
    width: 95.7vw;
    margin-right: 2vw;
    margin-left: 2vw;
    overflow: hidden;
  }
  .intro_body2-2{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #1363be;
    top: 45.4vh;
    height: 45vh;
    width: 95.7vw;
    margin-right: 2vw;
    margin-left: 2vw;
  
  }
  
  .fav-icons2{
    left:10vw;
    top:23vh;
  }
  @mixin iconNav {
    position: absolute;
    display: block;
    background-color: rgba(114, 114, 114, 0.192);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 33vw;
    margin-top: 1vh;
  }
  @mixin iconNav2 {
    position: absolute;
    background-color: rgba(114, 114, 114, 0.192);
    display: flex;
    width: 13vw;
    height: 2.5vh;
    top:1.2vh;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  
  }
  
  .fav-icons-desc2{
    @include iconNav2;
    color: white;
    font-size: 1vw;
  }
  .fav-icons-add2{
    @include iconNav;
    width: 5vw;
    height: 2.3vh;
    left: 30vw;
    top:0.6vh;
    cursor: pointer;
    transition: all 0.5s;
    & img {
      width: auto;
      height: 60%;
    }
    &:hover {
      background-color: rgba(114, 114, 114, 0.418);
    }
  }
  .fav-icons-delete2{
    @include iconNav;
    width: 5vw;
    height: 2.3vh;
    left: 36vw;
    top:0.6vh;
    cursor: pointer;
    transition: all 0.5s;
    & img {
      width: auto;
      height: 70%;
    }
    &:hover {
      background-color: rgba(114, 114, 114, 0.418);
    }
  }
  .fav-cards2Mobile{
    position: absolute;
    top:28vh;
    width: 300px;
    height: 95px;
  }
  
  .fav-single2{
    
    width:140px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 20px;
    margin-left:0.5vw;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &:hover {
      width: 145px;
      height: 90px;
      background-color: rgba(255, 255, 255, 0.438);
      box-shadow: 2px 4px 7px 2px rgba(95, 95, 95, 0.11);
    }
  }
  
  .fav-img2{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: auto;
      height: 4vh;
    }
  }
  .fav-desc2{
    color: white;
    font-size: 0.1vw;
  }
  .intro_describe1{
    position: absolute;
    color:white;
    font-size: 7vw;
    font-family: 'Noto Sans KR', sans-serif;
    top:8vh;
  }
  .intro_describe1-2{
    position: absolute;
    color:white;
    font-size: 0.9vw;
    top:15vh;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .intro_describe2{
    position: absolute;
    color:black;
    font-size: 7vw;
    font-family: 'Noto Sans KR', sans-serif;
    top:8vh;
  }
  .intro_describe2-2{
    position: absolute;
    color:black;
    font-size: 0.9vw;
    top:15vh;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  @mixin on-circle1($item-count, $circle-size, $item-size) {
    width:  $circle-size;
    height: $circle-size;
    border-radius: 50%; 
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      width:  $item-size;
      height: $item-size;
      margin: -($item-size / 2);
    
      $angle: (360 / $item-count);
      $rot: 0;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: 
            rotate($rot * 1deg) 
            translate($circle-size / 2)
            rotate(86deg) 
        }
        $rot: $rot + $angle;
      }
    }
  }
  
  .sound-list1 {
    position: absolute;
    @include on-circle1($item-count: 20, $circle-size: 150vw, $item-size: 30vw);
    background-color: rgba(255, 99, 71, 0.001);
    border-radius: 50%;
    right:-27vw;
    top: 32vh;
    transition: transform 0.1s;
    z-index: 2;
    transition: all 1.5s cubic-bezier(.77,0,.175,1);
    animation: autoSpin 30s infinite linear;
  }

  @keyframes autoSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .sound-card1{
    background-color: rgba(255, 255, 255, 0);
    height: 150vh;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    & img {
      width: 50vw;
    }
    & p {
      margin-top: 20vh;
    }
  }
  
  .sound-card-title{
    margin-left:0.3vw;
    color: #d21111;
    font-family: 'Noto Sans KR', sans-serif;
    
  }
  
}