.intro_Fn2{
  background-color: #006064 ;
}

.intro_Fn2_body{
  display: flex;
  height: 80vh;
  overflow: hidden;
}

.bodyKomma2{
  position: relative;
  height: 500px;
  left: 35vw;
  top:15vh
  }

  .intro_Fn2_description{
    position: relative;
    font-size: 90px;
    left:22vw;
    top:22vh;
    color:  #F0EDCC;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
  
  }
  .intro_Fn2_description2{
    position: relative;
    color:  #F0EDCC;
    font-size: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    top: 6vh;

  }