.introFooterBody{
  position: relative;
  height: 71vh;
}


.introFooter{
  position: absolute;
  display: flex;
  justify-content: center;
  background-color:#1363be;
  height: 40vh;
  width: 98.5vw;
  top: 8.8vh;
  margin-left:0.8vw;
}

.introFooter_description{
  position: absolute;
  font-size: 6.5vw;
  color:white;
  top: 8vh;
  font-family: 'Noto Sans KR', sans-serif;
  z-index: 1;
}
.introFooter_button{
  position: absolute;; 
  width: 10vw;
  height: 6vh;
  font-size: 1vw;
  border-radius: 30px;
  background-color: white;
  color:#1565c0 ;
  left:45vw;
  border: none;
  top:28vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.controlcolor2{
  position: absolute;
  background-color: #ffd900;
  width: 49vw;
  height: 5.3vh;
  bottom: 41.6vh;
  left:0vw;
}

.footerInformation{
  position: relative;
  width: 98.5vw;
  top: 41.8vh;
  height: 40vh;
  background-color: #f1f1f3;
  color: rgb(77, 77, 77);
}
.information{
  display: flex;
  position: absolute;
  font-size: 1vw;
  top:4vh;
  font-family: 'Noto Sans KR', sans-serif;
}
.footerTitle{
  position: absolute;
  font-size: 1.5vw;
  left: 9vw;
  color: black;
}
.company{
  position: absolute;
  font-size: 1vw;
  left:22vw;
  top:1vh;
  width: 10vw;
  color: rgb(53, 53, 53);
}
.companyContent{
  font-family: 'Nanum Gothic', sans-serif;
}

.product{
  position: absolute;
  font-size: 1vw;
  left:37vw;
  top:1vh;
  color: rgb(53, 53, 53);
}
.productContent{
  font-family: 'Nanum Gothic', sans-serif;
}

.resources{
  position: absolute;
  font-size: 1vw;
  left:50vw;
  top:1vh;
}
.resourcesContent{
  font-family: 'Nanum Gothic', sans-serif;
}

.teamMembers{
  position: absolute;
  position: relative;
  font-size: 1vw;
  height: 25vh;
  left:64vw;
  top:1vh;
}
.getTheAPPS{
  position: absolute;
  font-size: 1vw;
  left:79vw;
  top:1vh;
  width: 10vw;
}
.footerSince{
  position: absolute;
  font-size: 1vw;
  left:40vw;
  top:30vh;
  width: 50vw;
  color: grey;
  font-weight: thin;
  font-family: sans-serif;
}
.blank1{
  margin-top: 1.4vh;
}
.blank2{
  margin-top: 2vh;
}

.front_end{
  position: relative;
  top: 2vh;
  left:1.8vw;
  font-family: 'Nanum Gothic', sans-serif;
}
.back_end{
  position: relative;
  top: 2vh;
  left:1.9vw;
  font-family: 'Nanum Gothic', sans-serif;
}
.member4{
  position: relative;
  width: 4vw;
  left: 0vw;
  top:  1.5vh;
}
.member3{
  position: relative;
  width: 4vw;
  left: 0vw;
  top:  1.5vh;
}
.member2{
  position: relative;
  width: 4vw;
  left: 0vw;
  top:  1.5vh;
}
.member1{
  position: relative;
  width: 4.2vw;
  left: 0vw;
  top:  1.5vh;
}
.app{
  position: relative;
  width: 10vw;
  top: 3vh;
  left: -0.5vw;
}












@media all and (max-width:800px) {

  .introFooterBody{
    height: 64vh;
    overflow: hidden;
  }
  
  
  .introFooter{
    height: 20vh;
    width: 95.4vw;
    top: 9.5vh;
    left:0.6vh;
  }
  
  .introFooter_description{
    left: 36vw;
    top: 4vh;
  }

  .introFooter_button{
    width: 18vw;
    height: 3.5vh;
    left: 39vw;
    top:12vh;
  }
  
  .controlcolor2{
    position: absolute;
    background-color: #ffd900;
    width: 95.4vw;
    bottom: 21.2vh;
  }
  
  .footerInformation{
    width: 95.4vw;
    top: 21.3vh;
    height: 32vh;
  }

  .footerTitle{
    font-size: 5vw;
    left: 39vw;
  }

  .company{
    position: absolute;
    font-size: 0vw;
    top: 0vh;
  }

  .companyContent{
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  .product{
    font-size: 0vw;
  }
  
  .resources{
    font-size: 0vw;
    left:0vw;
    top:1vh;
  }
  
  .teamMembers{
    width:35vw;
    height: 30vh;
    left:8vw;
    top:3vh;
  }

  .getTheAPPS{
    left:58vw;
    top:5vh;
    width: 30vw;
  }

  .footerSince{
    position: relative;
    left:10vw;
    top:19vh;
  }

  .front_end{
    top: 1vh;
    left:0vw;
    width: 20vw;
  }
  
  .back_end{
    top: 1.5vh;
    left:0vw;
  }

  .member4{
    position: relative;
    width:15vw;
  }

  .member3{
    width: 15vw;
    top:  2.5vw;
  }

  .member2{
    width: 15vw;
    top:  2.5vw;
  }

  .member1{
    width: 16vw;
  }

  .app{
    width: 20vw;
  }
}  