@mixin on-circle($item-count, $circle-size, $item-size) {
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%; 
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2)
          rotate(90deg) 
      }
      $rot: $rot + $angle;
    }
  }
}

.sound-list {
  position: absolute;
  @include on-circle($item-count: 30, $circle-size: 1200px, $item-size: 150px);
  background-color: rgba(255, 99, 71, 0.001);
  border-radius: 50%;
  margin-left: -600px;
  left: 50vw;
  top: 65vh;
  transition: transform 0.1s;
  z-index: 2;
}

.sound-card {
  background-color: rgba(255, 255, 255, 0);
  height: 150px;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  & img {
    position: relative;
    width: 50%;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  & p {
    margin-top: 20px;
  }
}

.tutorial {
  position: absolute;
  background-color: rgba(19, 19, 19, 0.808);
  width: 350px;
  height: 250px;
  bottom: 5vh;
  left: 50vw;
  margin-left: -175px;
  border-radius: 50px;
  z-index: 4;
  transition: all 1.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 27px;
  transform: rotate(0deg);
  & h1 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  & div {
    width: 90%;
    height: 70%;
    display: flex;
    & img {
      height: 90%;
    }
  }
  & .pointer {
    position: absolute;
    top: 115px;
    height: 40px;
    &.left {
      left: 25px;
      animation: blink 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite forwards;
    }
    &.right {
      right: 25px;
      animation: blink 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite forwards;
    }
    @keyframes blink {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.5;
      }
    }
  }
}

.sound-bar {
  position: absolute;
  .slider-rail {
    position: absolute;
    width: 5px;
    height: 45px;
    left: 0;
    //background-color: rgba(255, 255, 255, 0.466);
    margin-top: 50px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .slider-value {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
  }
}
