

.fav-container {
  position: absolute;
  width: 650px;
  height: 150px;
  left: 50vw;
  top: 20vh;
  margin-left: -325px;
  display: flex;
  flex-direction: column;
  &-m {
    position: absolute;
    width: 320px;
    height: 150px;
    left: 50vw;
    top: 33vh;
    margin-left: -160px;
    display: flex;
    flex-direction: column;
  }
}

.fav-icons {
  width: 650px;
  height: 35px;
  &-m {
    width: 320px;
    height: 35px;
  }
}

.fav-cards {
  width: 650px;
  height: 115px;
  &-m {
    width: 320px;
    height: 115px;
  }
}

.fav-single {
  width: 150px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &:hover {
    width: 160px;
    height: 105px;
    margin-top: 3px;
    margin-left: -0.5px;
    background-color: rgba(255, 255, 255, 0.438);
    box-shadow: 2px 4px 7px 2px rgba(95, 95, 95, 0.11);
  }
  &-active{
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 160px;
    height: 105px;
    margin-top: 3px;
    margin-left: -0.5px;
    background-color: rgba(255, 255, 255, 0.315);
    box-shadow: 2px 4px 7px 2px rgba(95, 95, 95, 0.11);
  }
  & .fav_delet_x{
    position:absolute;
    width: 60px;
    margin-top: 10px;
    animation: shake 0.4s cubic-bezier(0.875, 0.885, 0.32, 1.275) forwards;
  }
  @keyframes shake {
    20% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.fav-single-m {
  width: 150px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &-active{
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 160px;
    height: 105px;
    margin-top: 3px;
    margin-left: -0.5px;
    background-color: rgba(255, 255, 255, 0.315);
    box-shadow: 2px 4px 7px 2px rgba(95, 95, 95, 0.11);
  }
  & .fav_delet_x{
    position:absolute;
    width: 60px;
    margin-top: 10px;
    animation: shake 0.4s cubic-bezier(0.875, 0.885, 0.32, 1.275) forwards;
  }
  @keyframes shake {
    20% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.slick-arrow {
  opacity: 0.7;
}

.slick-disabled {
  opacity: 0.5;
}

.slick-list {
  height: 100%;
}

.fav-img {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: auto;
    height: 65%;
  }
}

.fav-desc {
  color: white;
  font-size: 13px;
}

@mixin iconNav {
  position: absolute;
  display: block;
  background-color: rgba(114, 114, 114, 0.192);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}

.fav-icons-desc {
  @include iconNav;
  width: 100px;
  height: 25px;
  border-radius: 12.5px;
  color: white;
}

.fav-icons-add {
  @include iconNav;
  width: 25px;
  height: 25px;
  left: 570px;
  cursor: pointer;
  transition: all 0.5s;
  & img {
    width: auto;
    height: 60%;
  }
  &:hover {
    background-color: rgba(114, 114, 114, 0.418);
  }
}

.fav-icons-delete {
  @include iconNav;
  width: 25px;
  height: 25px;
  left: 600px;
  cursor: pointer;
  transition: all 0.5s;
  & img {
    width: auto;
    height: 70%;
  }
  &:hover {
    background-color: rgba(114, 114, 114, 0.418);
  }
}

@mixin side-blur {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 30px;
  height: 110px;
  top: 35px;
  transition: all 5s;
}

@mixin right {
  right: 0px;
  transform: rotate(180deg);
}

.side-blur {
  @include side-blur;
  &.right {
    @include right;
  }
  &.blue {
    box-shadow: inset 10px 0px 10px 0px $blue;
  }
  &.red {
    box-shadow: inset 10px 0px 10px 0px $red;
  }
  &.orange {
    box-shadow: inset 10px 0px 10px 0px $orange;
  }
  &.violet {
    box-shadow: inset 10px 0px 10px 0px $violet;
  }
  &.yellow {
    box-shadow: inset 10px 0px 10px 0px $yellow;
  }
  &.cyan {
    box-shadow: inset 10px 0px 10px 0px $cyan;
  }
  &.lime {
    box-shadow: inset 10px 0px 10px 0px $lime;
  }
  &.teal {
    box-shadow: inset 10px 0px 10px 0px $teal;
  }
  &.pink {
    box-shadow: inset 10px 0px 10px 0px $pink;
  }
  &.random {
    display: none;
  }
}

.fav_back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 4;
}

.fav_back_one {
  position: absolute;
  top: 0;
  width: 100%;
  height: 17%;
}

.fav_back_two {
  position: absolute;
  top: 44%;
  width: 100%;
  height: 56%;
}

.fav_back_three {
  position: absolute;
  top: 17%;
  width: 49%;
  height: 26%;
}

.fav_back_four {
  position: absolute;
  top: 17%;
  left: 76%;
  width: 25%;
  height: 26%;
}

.fav_modal{
 position: absolute;
 left: 49%;
 top: 17%;
 display: flex;
 justify-content: center;
 width: 300px;
 height: 200px;
 background-color: white;
 z-index: 5;
 border-radius: 4px;
 box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.253);
}

.fav_iconbox {
  flex-wrap: wrap; 
  align-content: flex-start;
  width: 80%;
  height: 46%;
  margin-top: 11%;
  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.123);
  overflow-y: auto;
  border-radius: 3px;
}

.fav_icon{
  height: 30px;
  margin-left: 23px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  opacity: 0.3;
}

.fav_icon_active{
  height: 30px;
  margin-left: 23px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  opacity: 1;
}

.fav_x{
  position: absolute;
  height: 10px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transform: rotate(45deg);
}

.fav_input{
  position: absolute;
  font-size: 15px;
  margin-top: 47%;
  border: none;
  border-bottom: 0.5px solid $blue2;
  left: 10%;
  &:focus {
    outline: none;
  }
}

.fav_button{
  position: absolute;
  font-size: 12px;
  height: 20px;
  width: 60px;
  margin-top: 47%;
  left: 70%;
  border: none;
  border-radius: 2px;
  background-color: $blue2;
  cursor: pointer;
  &:active {
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.274);
    background-color: darken($color: $blue2, $amount: 10px);
  }
  &:focus {
    outline: none;
  }
}

.fav_error {
  position: absolute;
  bottom: 15px;
  color: rgb(247, 63, 63);
  left: 10%;
  top: 85%;
  font-size: 12px;
}

@media all and (max-width: 800px) {
  .fav-icons-add {
    left: 75%;
  }
  .fav-icons-delete {
    left: 85%;
  }
  .fav_back {
    z-index: 11;
  }
  .fav_modal {
    left: 50%;
    top: 35vh;
    margin-left: -150px;
  }
  .side-blur {
    display: none;
  }
}
