@mixin randomColor {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: background-color 5s ease;
}

.Main-red {
  @include randomColor;
  background-color: $red;
}

.Main-orange {
  @include randomColor;
  background-color: $orange;
}

.Main-blue {
  @include randomColor;
  background-color: $blue;
}

.Main-yellow {
  @include randomColor;
  background-color: $yellow;
}

.Main-cyan {
  @include randomColor;
  background-color: $cyan;
}

.Main-lime {
  @include randomColor;
  background-color: $lime;
}

.Main-teal {
  @include randomColor;
  background-color: $teal;
}

.Main-violet {
  @include randomColor;
  background-color: $violet;
}

.Main-pink {
  @include randomColor;
  background-color: $pink;
}

.Main-random {
  box-shadow: none;
  @include randomColor;
  animation: interval 100s infinite alternate-reverse;
}

$colors: $blue, $red, $orange, $teal, $cyan, $violet, $lime, $yellow, $pink;

@keyframes interval {

  10% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  20% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  30% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  40% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  50% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  60% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  70% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  80% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  90% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

  100% {
    $nth: nth($colors, random(8));
      background-color: $nth;
  }

}

button {
  width: 100px;
}

.waveBox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translate3d(0 ,0, 0);
  z-index: -1;
  transition: all 2s;
  opacity: 1;
}

.waveBox-off {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translate3d(0 ,0, 0);
  z-index: -1;
  transition: all 2s;
  opacity: 0;
}

@mixin wave {
  opacity: .25;
  position: absolute;
  top: 80%;
  left: -180%;
  background: rgb(226, 226, 226);
  width: 7000px;
  height: 7000px;
  transform-origin: 50% 50%;
  border-radius: 43%;
  animation: drift 15000ms infinite linear;
  transition: all 2s;
}

.wave-one {
  @include wave;
}

.wave-two {
  @include wave;
  animation: drift 15000ms infinite linear;
  opacity: .09;
  background-color: white;
  transform-origin: 51% 51%;
  left: -210%;
  top: 75%;
  border-radius: 42%;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 800px) {
  
  @mixin wave {
    top: 88%;
    left: -750%;
  }
  
  .wave-one {
    @include wave;
  }
  
  .wave-two {
    @include wave;
    transform-origin: 50% 50%;
    left: -850%;
    top: 91%;
    border-radius: 42.5%;
  }
}

@media all and (min-width: 1500px) {

  @mixin wave {
    left: -120%;
  }

  .wave-one {
    @include wave;
  }
  
  .wave-two {
    @include wave;
    left: -140%;
  }
  
}


