.setting-container {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.26);
}

.setting-x {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  transform: rotate(45deg);
  cursor: pointer;
}

.setting-userinfo {
  position: absolute;
  height: 80%;
  width: 250px;
  top: 10%;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  & .email-container {
    width: 60%;
    margin-bottom: 20px;
    & .title {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    & .content {
      width: 100%;
      border: none;
      border-bottom: 1px solid skyblue;
      &:focus {
        outline: none;
      }
    }
  }
  & .name-container {
    width: 60%;
    margin-bottom: 20px;
    & .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    & .content {
      width: 100%;
      border: none;
      border-bottom: 1px solid skyblue;
      &:focus {
        outline: none;
      }
    }
  }
  & .password-container {
    width: 60%;
    margin-bottom: 10px;
    & .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    & .content {
      width: 100%;
      border: none;
      border-bottom: 1px solid skyblue;
      &:focus {
        outline: none;
      }
    }
  }
  & .new-password-container {
    width: 60%;
    margin-bottom: 10px;
    & .content {
      width: 100%;
      border: none;
      border-bottom: 1px solid skyblue;
      &:focus {
        outline: none;
      }
    }
  }
  & .repeat-password-container {
    width: 60%;
    margin-bottom: 10px;
    & .content {
      width: 100%;
      border: none;
      border-bottom: 1px solid skyblue;
      &:focus {
        outline: none;
      }
    }
  }
}

.setting-center {
  position: absolute;
  height: 70%;
  width: 10px;
  border-left: 1px solid $blue2;
  top: 20%;
  left: 250px;
  z-index: 5;
}

.setting-general {
  position: absolute;
  height: 80%;
  width: 350px;
  top: 10%;
  left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 75px;
  }
  
  &-colors {
    width: 80%;
    height: 160px;
    & h1 {
      margin-bottom: 20px;
    }
    & .colors {
      width: 100%;
      height: 100px;
      display: flex;
      flex-wrap: wrap;

      @mixin color {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 5px solid rgba(32, 32, 32, 0.63);
        margin-right: 15px;
        cursor: pointer;
        transition: all .55s cubic-bezier(.77,0,.175,1);
        &.selected {
          border: 5px solid rgb(216, 46, 46);
          transform: scale(1.2);
          box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.342);
          transition: all .55s cubic-bezier(.77,0,.175,1);
        }
      }

      & .blue {
        @include color;
        background-color: $blue;
      }

      & .red {
        @include color;
        background-color: $red;
      }

      & .orange {
        @include color;
        background-color: $orange;
      }

      & .yellow {
        @include color;
        background-color: $yellow;
      }

      & .cyan {
        @include color;
        background-color: $cyan;
      }

      & .teal {
        @include color;
        background-color: $teal;
      }

      & .violet {
        @include color;
        background-color: $violet;
      }

      & .lime {
        @include color;
        background-color: $lime;
      }

      & .pink {
        @include color;
        background-color: $pink;
      }

      & .random {
        @include color;
        background-image: url('../img/random.png');
        background-position: center;
      }
    }
  }
}

.infobtn {
  width: 60%;
  border: none;
  border-radius: 10px;
  color: rgb(41, 41, 41);
  background-color: lighten($color: $blue2, $amount: 5%);
  margin-top: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.116);
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    background-color: darken($color: $blue2, $amount: 1%);
    box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.116);
  }
  &.back, &.logout {
    margin-top: 10px;
  }
}

@media all and (max-width: 800px) {

  .setting-container {
    width: 300px;
  }

  .setting-userinfo {
    margin-left: 25px;
  }

  .setting-general {
    left: -35px;
    margin-left: 25px;
    &-title {
      margin-left: -30px;
    }
  }

  .togeneral {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    &:focus {
      outline: none;
    }
    &:active {
      & img {
        opacity: 0.8;
      }
    }
    & img {
      width: 20px;
      height: 33px;
      opacity: 0.5;
    }
    & p {
      font-size: 11px;
      margin-top: 20px;
      margin-right: 5px;
    }
  }
}