.darkbackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.747);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 1.5s forwards;
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.comma {
  position: absolute;
  left: -60px;
  top: -170px;
  width: 400px;
  z-index: 3;
  transform: rotate(25deg);
}

.sign-desc {
  position: absolute;
  z-index: 3;
  bottom: 15px;
  left: 170px;
  font-size: 11px;
  color: rgb(138, 138, 138);
}

.sign-komma {
  position: absolute;
  z-index: 4;
  width: 180px;
  left: 70px;
  top: 90px;
}

.total-container {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sign-container {
  position: absolute;
  width: 50%;
  height: 95%;
  right: 10px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  .signin-x {
    position: absolute;
    right: 0;
    width: 15px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .signin-title {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733);
  }

  .signup-title {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733);
    margin-bottom: -15px;
  }

  .email {
    margin-top: 30px;
    width: 200px;
    height: 30px;
    border-bottom: 1px solid rgb(97, 97, 218);
    & img {
      height: 70%;
      margin-right: 20px;
    }
    & input {
      position: relative;
      height: 70%;
      border: none;
      top: -3px;
      &:focus {
        outline: none;
      }
    }
  }

  .password {
    margin-top: 15px;
    width: 200px;
    height: 30px;
    border-bottom: 1px solid rgb(97, 97, 218);
    & img {
      height: 70%;
      margin-right: 20px;
    }
    & input {
      position: relative;
      height: 70%;
      border: none;
      top: -3px;
      &:focus {
        outline: none;
      }
    }
    &.repeat {
      margin-top: 8px;
      margin-bottom: -15px;
    } 
  }

  .username {
    margin-top: 8px;
    width: 200px;
    height: 30px;
    border-bottom: 1px solid rgb(97, 97, 218);
    & img {
      height: 70%;
      margin-right: 20px;
    }
    & input {
      position: relative;
      height: 70%;
      border: none;
      top: -3px;
      &:focus {
        outline: none;
      }
    }
  }
}

.sign-error {
  color: red;
  font-size: 11px;
  margin-top: 30px;
}

.sign-button {
  border: none;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: $blue2;
  cursor: pointer;
  &:active {
    background-color: darken($blue2, 5%);
    box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.199);
  }
  &:focus {
    outline: none;
  }
}

.sign-desc2 {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  width: 200px;
  color: rgb(65, 65, 65);
  & p {
    margin-left: 5px;
    color: $blue2;
    font-size: 12px;
    cursor: pointer;
    font-weight: 900;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media all and (max-width: 800px) {
  .total-container {
    width: 300px;
    height: 400px; 
  }

  .sign-container {
    left: 80px;

    .signin-title {
      color: rgb(255, 255, 255);
    }
  
    .signup-title {
      color: rgb(255, 255, 255);
    }
  }

  .signin-x {
    left: 195px;
  }

  .comma {
    left: -160px;
    top: -240px;
  }

  .sign-komma {
    width: 50px;
    left: 132px;
    top: 35px;
  }

  .sign-desc {
    top: 370px;
    left: 20px;
  }

  .email {
    & input {
      background: none;
    }
  }

  .password {
    & input {
      background: none;
    }
  }

  .username {
    & input {
      background: none;
    }
  }
}