html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//-------------------------------------------------------------


// $red: #ffa9a9;
// $violet: #b197fc;
$blue2: #74c0fc;
// $cyan: #66d9e8;
// $teal: #63e6be;
// $lime: #c0eb75;
// $yellow: #ffe066;
// $orange: #ffc078;


$red: #e24f4f;
$violet: #6a1b9a;
$blue: #1565c0;
$cyan: #66d9e8;
$teal: #2e7d32;
$lime: #b8c63f;
$yellow: #dabc0e;
$orange: #ff8f00;
$pink: #c52fb1;

$red1: #d21111;
$violet1: #6a1b9a;
$blue1: #1363be;
$cyan1: #66d9e8;
$teal1: #2e7d32;
$lime1: #b8c63f;
$yellow1: #ffd900;
$orange1: #ff8f00;
$white1: #F0F0F2;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './Main.scss';
@import './MainHeader.scss';
@import './MainList.scss';
@import './MainFav.scss';
@import './MainSelected.scss';
@import './Signin_up.scss';



@import'./IntroMain';
@import'./IntroFn1';
@import'./IntroFn2';
@import'./IntroFn3';
@import'./IntroFooter';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import './Ending.scss';
@import './Setting.scss';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
